/external-adapter/external-adapter-entry/node_modules
/external-adapter/external-adapter-entry/.env
/external-adapter/external-adapter-entry/key.json
/external-adapter/database-uploader/node_modules
/external-adapter/database-uploader/key.json
/external-adapter/database-uploader/.env
/external-adapter/faas-sandbox/node_modules
/smart_contracts/node_modules
/smart_contracts/.env
/website/node_modules
/external-adapter/node_modules
/external-adapter/test/smartContracts/node_modules
/node_modules
/website/.vscode