/external-adapter/node_modules
/external-adapter-v0.2.0/node_modules
/website/node_modules
/external-adapter/.env
/node_modules
/external-adapter/test/smartContracts/node_modules/
/smart_contracts/node_modules
/smart_contracts/.env
/website/.vscode
/google-cloud-storage/node_modules
/google-cloud-storage/key.json
/external-adapter/key.json
/external-adapter/smart_contracts/node_modules